.text-updater-node {
	height: 50px;
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 5px;
	background: white;
}

#dev-tools {
	position: absolute;
	width: 100px;
	height: 100px;
	background: yellow;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 50;
	border-radius: 10%;
	top: 5px;
	left: 93vw;
}
